window {
  background-color: rgba(39, 39, 43, 0.9);
}

* {
  font-family: "Jetbrains Mono";
  color: #fff;
}

#scroll {
  padding: 0.5rem;
}

#input {
  background-color: rgba(39, 39, 43, 0.9);
  color: #c0caf5;
  outline: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  font-size: 1rem;
  padding: 0.5rem;
}

#inner-box {
  margin: 0.5rem;
  font-size: 1rem;
}

#img {
  margin: 10px 10px;
}

#entry {
  border-radius: 0.5rem;
}

#entry:selected {
  background-color: rgba(123, 123, 126, 0.9);
  outline: none;
}

#text:selected {
  color: rgba(20, 20, 22, 0.9);
}